<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter your name</title>
    <style>

  </style>
</head>
<body>

<p><input type=button onClick="parent.location='show'"
 value='Список усіх, з ким вже привіталися.' style="width: 600px; height: 45px;"></p>

 <form action='add' method='POST'>

             <h2>Ім'я+Прізвище</h2>        <input name="Name" style="width: 400px; height: 45px;" />
             <input type="submit" value="Привітатись" style="width: 200px; height: 45px;">
         </form>

</body>
</html>